/*Aqui le estamos dando el estilo a los elementos que forman la vista de la moto*/
.PrincipalMoto{
    height: 77vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
    &__Contenedor{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 1200px;
        &__imagen{
            width: 50%;
            margin-right: 10%;
        }
        &__listado{
            list-style: none;
            width: 40%;
            font-size: 20px;
        }
    }

    /*Aqui estamos modificando la imagen que vemos en el fondo de nuestra pagina*/
    &__Imagen{
        position: absolute;
        width: 300px;
        right: 0px;
        z-index: 0;

        opacity: 0.37;
    }
}
@media (max-width:580px) {
    .PrincipalMoto{
        height: 77vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        
        &__Contenedor{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            width: 1000px;
            height: 580px;
            &__imagen{
                width: 90%;
            }
            &__listado{
                list-style: none;
                width: 60%;
            }
        }
        &__Imagen{
            position: absolute;
            width: 135px;
            right: 0px;
            z-index: -1;
    
            opacity: 0.37;
        }
    }
}